[submodule "external/kicad-ESP8266"]
	path = external/kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266
[submodule "external/KiCad-SSD1306_OLED-0.91-128x32"]
	path = external/KiCad-SSD1306_OLED-0.91-128x32
	url = https://github.com/MichMich/KiCad-SSD1306_OLED-0.91-128x32.git
[submodule "external/badgelife-parts"]
	path = external/badgelife-parts
	url = https://github.com/devec0/badgelife-parts.git
[submodule "external/kicad-libraries"]
	path = external/kicad-libraries
	url = https://github.com/espressif/kicad-libraries.git
